@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
