:root {
  --prim-line-grad-start: hsl(236, 72%, 79%);
  --prim-line-grad-end: hsl(237, 63%, 64%);
  --neu-very-light-gray-blue: hsl(240, 78%, 98%);
  --neu-light-gray-blue: hsl(234, 14%, 74%);
  --neu-gray-blue: hsl(233, 13%, 49%);
  --neu-dark-gray-blue: hsl(232, 13%, 33%);
  --white: hsl(0, 0%, 100%);
}
